:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --second-color: #2f303a;
  --choice-color: #188ce8;
  --font-color: #757575;
  --section-pt: 94px;
  --section-pb: 94px;
}

body {
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.adress {
  font-style: normal;
}
.light-theme {
  color: #fff;
}
.dark-theme {
  color: #000;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-item:not(:first-child) {
  margin-left: 10px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------HIDDEN------------*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*--------END OF HIDDEN------------*/
/*-------HEADER-------*/
.head {
  border: 1px solid #ececec;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
.head .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.half-logo {
  color: var(--accent-color);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.selected {
  color: var(--accent-color);
  position: relative;
}
.selected::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: translate(-100%);
  bottom: -190%;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}
.nav-link:hover .nav-icon,
.nav-link:focus .nav-icon {
  fill: var(--accent-color);
}
.phone-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color);
}
.nav-icon {
  fill: var(--font-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------END OF HEADER-----*/
.info {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*---------MAIN--------------*/
.first-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}
/*-------BUTTONS------*/
.btn {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:first-child) {
  margin-left: 8px;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #fff;
  background-color: var(--choice-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:hover,
.btn:focus {
  background-color: var(--choice-color);
}
.btn-social-form {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  margin-left: 10px;
}

.btn-social-form:focus,
.btn-social-form:hover {
  background-color: var(--choice-color);
}
/*---------END OF BUTTONS------*/

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-color: var(--second-color);
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------FEATURES-------*/
.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features-list {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
}
.features-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}
.third-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-sub {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color);
}
.feat-list {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 30px;
}
.feat-item {
  border-radius: 4px;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.feat-icon {
  width: 70px;
  height: 70px;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feat-icon:hover,
.feat-icon:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*-------END OF FEATURES-------*/
/*-----OUR JOB-------------*/
.job {
  padding-bottom: 94px;
  padding-top: 47px;
}
.job-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-basis: calc(100% / 3 - 30px);
}
.job-item {
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}
.second-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*-----END OF OUR JOB------*/
/*-----------TEAM--------*/
.team {
  background-color: #f5f4fa;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item {
  background-color: #fff;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 8px;
}
.team-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 28px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.stabil {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.stabil-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stabil-item {
  display: flex;
}
.stabil-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stabil-link:hover,
.stabil-link:focus {
  border: 1px solid var(--accent-color);
}
.stabil-link:hover .stabil-icon,
.stabil-link:focus .stabil-icon {
  fill: var(--accent-color);
}
.stabil-icon {
  fill: #afb1b8;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----END OF TEAM---------*/
/*--------PICTURES---------*/
.picture-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}
.picture-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.picture-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.picture-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--font-color);
}
.portfolio-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.pitem-link {
  cursor: pointer;
}
.picture-item:hover,
.picture-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*--------END OF PICTURES---------*/
/*-------FOOTER-----------*/
footer {
  background-color: var(--second-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.adress-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.bottom-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo-bottom {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.adress-list {
  margin-top: 20px;
}
.adress:not(:first-child) {
  margin-top: 9px;
}
.bottom-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
footer .container {
  display: flex;
}
.bottom-social {
  margin-left: 70px;
  padding-top: 12px;
}

.bottom-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-social-link:hover,
.bottom-social-link:focus {
  background-color: var(--accent-color);
}
.bottom-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.bottom-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.bottom-social-item:not(:first-child) {
  margin-left: 10px;
}
.social-form {
  padding-top: 12px;
  margin-left: 93px;
}
.bottom-bold-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.bottom-comment-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.input-comment {
  width: 360px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--second-color);
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}
.input-comment::placeholder {
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*-------END OF FOOTER-----------*/
/*---------END OF MAIN-------*/
/*--------OVERLAY--------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-block {
  position: relative;
  overflow: hidden;
}
.pitem-link:hover .overlay,
.pitem-link:focus .overlay {
  transform: translateY(0);
}
.overlay-index-block {
  position: relative;
  overflow: hidden;
}
.index-overlay {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24%;
}

/*-----MODAL---------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.x-icon {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .x-icon,
.modal-btn:focus .x-icon {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-bold-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  display: block;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-text {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--font-color);
}
.label-text-message {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--font-color);
}

.modal-area {
  width: 100%;
  margin-top: 4px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-area:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.term {
  color: var(--accent-color);
}
.modal-form-check-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color);
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-term:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/svg/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: var(--accent-color);
}
/* .modal-form-term:focus + .modal-form-check-desc::before {
  box-shadow: 0 0 0 2px #2196f3;
} */

.modal-form-btn {
  margin-top: 30px;
  min-width: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--choice-color);
}
