.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-color: var(--second-color);
  background-repeat: no-repeat;
  background-size: cover;
}
