.job {
  padding-bottom: 94px;
  padding-top: 47px;
}
.job__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-basis: calc(100% / 3 - 30px);
}
.job__item {
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}
