.team {
  background-color: #f5f4fa;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.team__list {
  display: flex;
  margin-left: -30px;
}
.team__item {
  background-color: #fff;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 8px;
}
.team-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 28px;
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.stabil {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.stabil__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stabil__item {
  display: flex;
}
.stabil__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.stabil__icon {
  fill: #afb1b8;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .stabil__link:hover &,
  .stabil__link:focus & {
    fill: var(--accent-color);
  }
}
