.modal__form {
  display: flex;
  flex-direction: column;
}
.modal-bold-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  display: block;
}
.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}
.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal__icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label__text {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--font-color);
}
.label__text-message {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--font-color);
}

.modal-area {
  width: 100%;
  margin-top: 4px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.term {
  color: var(--accent-color);
}
.modal__check-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color);
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.modal__check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal__form-term:checked + .modal__check-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/svg/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: var(--accent-color);
}
/* .modal__form-term:focus + .modal__check-desc::before {
  box-shadow: 0 0 0 2px #2196f3;
} */

.modal__form-btn {
  margin-top: 30px;
  min-width: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--choice-color);
  }
}
