.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: #fff;
  }
}
