:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --second-color: #2f303a;
  --choice-color: #188ce8;
  --font-color: #757575;
  --section-pt: 94px;
  --section-pb: 94px;
}
